<div id="about" class="partial secondary-partial" ng-controller="HomeCtrl">
    <div class="partial-body">
        <div class="page-title-vertical-grid vg-2-9">
            <h2 class="title">A few things about me</h2>
        </div>

        <div class="about-category vg-2-9">
            <div class="about-category-icon-wrapper hg-1-5">
                <div class="about-category-icon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
            <div class="about-category-info hg-4-5">
                <h2 class="category-title">Experience</h2>
                <p class="category-description">
                    Lorem ipsum dolor sit amet, eu vel errem abhorreant. Mea copiosae convenire ei. Sit autem delectus sapientem ne, elit erat diceret vis in. Eu vim aliquam tractatos, amet repudiare mei cu, iudico hendrerit evertitur eam ut.
                </p>
            </div>
        </div>

        <div class="about-category vg-2-9">
            <div class="about-category-icon-wrapper hg-1-5">
                <div class="about-category-icon">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
            <div class="about-category-info hg-4-5">
                <h2 class="category-title">Motivation</h2>
                <p class="category-description">
                    Te duo purto case. Sint aliquip albucius ad vis. Id dolor doming vim, ferri conclusionemque nam ea. Nam ut sumo vide aperiam, ea omnis nulla labores sit, nam no quaestio mediocritatem. No vero tollit delicata usu, cu quodsi disputando accommodare nec, veritus detracto theophrastus at sea.
                </p>
            </div>
        </div>

        <div class="about-category vg-2-9">
            <div class="about-category-icon-wrapper hg-1-5">
                <div class="about-category-icon about-category-icon-university">
                    <i class="fa fa-university"></i>
                </div>
            </div>
            <div class="about-category-info hg-4-5">
                <h2 class="category-title">Education</h2>
                <p class="category-description">
                    Purto posidonium id eos, ne vidit facilis detracto vix, id dolorum legimus assentior vim. An pri alterum argumentum inciderint. Homero labores menandri vel an, cu qui amet equidem evertitur, cum duis liber nusquam ei. Ut vis ludus tritani, movet laboramus at usu. Vim quis deterruisset ex. Idque dolore in his, ei eum recteque deseruisse, cu odio eloquentiam pri.
                </p>
            </div>
        </div>
    </div>
</div>