<div id="home" class="partial main-partial">
	<div class="partial-body">
        <div class="vg-1-3">
            <div class="vg-1-3"></div>
            <div class="home-vertical-grid vg-1-3">
                <div class="helper-text-to-bottom-h1"></div>
                <h2 class="title">{{content.salutation}}</h2>
            </div>
            <div class="home-vertical-grid vg-1-3">
                <h1 class="title">{{content.name}}</h1>
            </div>
        </div>
        <div class="vg-1-3">
            <div class="home-vertical-grid vg-1-3">
                <div class="helper-text-to-bottom-h2"></div>
                <h2>{{content.titleLabel}} {{content.title}}</h2>
            </div>
            <div class="home-vertical-grid vg-2-3">
                <img class="profile-photo" src="/assets/images/profile.png">
            </div>
        </div>
        <div class="vg-1-3">
            <div class="vg-1-3"></div>
            <div class="home-vertical-grid vg-2-3">
                <p>{{content.continueMessage}}</p>
                <a href="/contact" class="btn btn-light contact-me-button">{{content.contactMeButtonText}}</a>
            </div>
        </div>
	</div>
</div>