<div id="skills" class="partial secondary-partial" ng-controller="HomeCtrl">
    <div class="page-separator"></div>
    <div class="partial-body">
        <div class="vg-2-9">
            <h2 class="title">Key Skills</h2>
        </div>
        <div class="vg-2-9">
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/html5.png">
                <p class="skill-description">HTML</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/css3.png">
                <p class="skill-description">CSS</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/js.png">
                <p class="skill-description">JavaScript</p>
            </div>
        </div>
        <div class="vg-2-9">
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/angular.png">
                <p class="skill-description">AngularJS</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/sass.png">
                <p class="skill-description">Sass</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/gulp.png">
                <p class="skill-description">Gulp</p>
            </div>
        </div>
        <div class="vg-2-9">
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/node.png">
                <p class="skill-description">Node</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/jade.png">
                <p class="skill-description">Jade</p>
            </div>
            <div class="hg-1-5"></div>
            <div class="hg-1-5">
                <img class="skill-logo" src="/assets/images/skills/mongo.png">
                <p class="skill-description">MongoDB</p>
            </div>
        </div>
    </div>
</div>