<div id="skills" class="partial secondary-partial">
    <div class="partial-body">
        <div class="partial-title-vertical-grid skills-vertical-grid vg-2-9">
            <h2 class="title">{{content.pageTitle}}</h2>
        </div>
        <div class="vg-7-9">
            <div class="skill" ng-repeat="skill in content.skills">
                <img class="skill-logo" ng-src="{{skill.icon}}">
                <p class="skill-description">{{skill.name}}</p>
            </div>
        </div>
    </div>
</div>