.about-category {
	text-align: left;
	@media screen and (max-width: 670px){
		text-align: center;
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
    @media screen and (max-width: 670px) and (min-height: 900px){
      margin-bottom: 100px;
    }
    @media screen and (max-height: 550px){
      width: 100%;
    }
}
.about-category-icon-wrapper {
	@media screen and (max-width: 670px){
		display: none;
	}
    @media screen and (max-height: 600px){
      width: calc(95%/7);
    }
}
.about-category-icon {
  width: 70px;
  height: 70px;
  background-color: $main-color;
  color: $light-color;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  .fa {
    font-size: 70px;
  }
  &.about-category-icon-university {
    .fa {
      font-size: 65px;
    }
  }
  @media screen and (max-width: 670px){
    display: none;
  }
}
.about-category-info {
  .category-title {
    font-weight: normal;
    @media screen and (max-height: 720px){
      font-size: $sub-heading-font-size-medium;
    }
    @media screen and (max-width: 900px) {
      font-size: $sub-heading-font-size-medium;
    }
    @media screen and (max-width: 360px) {
      font-size: $sub-heading-font-size-min;
    }
    @media screen and (max-height: 550px){
      font-size: 15px;
    }
  }
  .category-description {
    font-family: $secondary-font-family;
    margin-top: 10px;
    text-align: justify;
    @media screen and (max-height: 720px){
      font-size: $body-font-size-medium;
    }
    @media screen and (max-height: 720px){
      margin-top: 2px;
    }
    @media screen and (max-width: 1200px){
      font-size: $body-font-size-medium;
    }
    @media screen and (max-width: 900px){
      font-size: $body-font-size-medium;
    }
    @media screen and (max-width: 360px){
      font-size: $body-font-size-min;
    }
    @media screen and (max-height: 550px){
      font-size: 12px;
    }
  }
  @media screen and (max-width: 900px){
	padding: 0 5%;
    box-sizing: border-box;
  }
  @media screen and (max-width: 670px){
    text-align: center;
	width: 100%;
  }
  @media screen and (max-height: 600px){
    width: calc((95%/5)*4.4);
    padding: 0 1%;
  }
}