.about-category {
	text-align: left;
	@media screen and (max-width: 670px){
		text-align: center;
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
}
.about-category-icon-wrapper {
	@media screen and (max-width: 670px){
		display: none;
	}
}
.about-category-icon {
  width: 70px;
  height: 70px;
  background-color: $main-color;
  color: $light-color;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  .fa {
    font-size: 70px;
  }
  &.about-category-icon-university {
    .fa {
      font-size: 65px;
    }
  }
  @media screen and (max-width: 670px){
    display: none;
  }
}
.about-category-info {
  .category-title {
    font-weight: normal;
  }
  .category-description {
    font-family: $secondary-font-family;
    margin-top: 10px;
    text-align: justify;
  }
  @media screen and (max-width: 900px){
	padding: 0 5%;
    box-sizing: border-box;
  }
  @media screen and (max-width: 670px){
    text-align: center;
	width: 100%;
  }
}