.contact-info-element  {
  float: left;
  text-align: left;
  .fa {
    font-size: $heading-font-size;
    vertical-align: baseline;
    margin-right: 15px;
    color: $main-color;
  }
  h2 {
    display: inline-block;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}