.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}

.helper-text-to-bottom-h1 {
  width: 100%;
  height: calc(100% - #{$heading-font-size});
  height: -webkit-calc(100% - #{$heading-font-size});
}
.helper-text-to-bottom-h2 {
  width: 100%;
  height: calc(100% - #{$sub-heading-font-size});
}