/**
* Common partial traits
**/
.partial-wrapper {
  height: 100%;
}
.partial {
  width: 100%;
  height: 100%;
  text-align: center;
}

/**
* Partial types
**/
.main-partial {
  background-color: $main-color;
  color: $light-color;
  a {
    color: $light-color;
  }
}
.secondary-partial {
  background-color: $light-color;
  color: $dark-color;
}
/**
* Partial elements
**/
.page-separator {
  width: 100%;
  height: 10px;
  background-color: $main-color;
}
.partial-body {
  width: calc((100%/9)*5);
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  @media screen and (max-width: 1180px){
    width: calc((100%/9)*7);
  }
  @media screen and (max-width: 900px){
    width: 100%;
  }
}
.partial-title-vertical-grid {
	@media screen and (max-width: 900px){
		height: auto;
		margin-bottom: 10%;
	}
}