h1 {
  font-size: $heading-font-size;
  &.title {
    font-size: $heading-font-size * 2;
  }
}
h2 {
  font-size: $sub-heading-font-size;
  &.title {
    font-size: $heading-font-size;
  }
}
p {
  font-size: $body-font-size;
}