h1 {
  font-size: $heading-font-size;
  &.title {
    font-size: $heading-font-size * 2;
	@media screen and (max-width: 670px){
		font-size: (($heading-font-size*2)/3)*2;
	}
  }
  @media screen and (max-width: 670px){
	font-size: ($heading-font-size/3)*2;
  }
}
h2 {
  font-size: $sub-heading-font-size;
  &.title {
    font-size: $heading-font-size;
	@media screen and (max-width: 670px){
		font-size: ($sub-heading-font-size*/3)*2;
	}
  }
  @media screen and (max-width: 670px){
	font-size: ($heading-font-size/3)*2;
  }
}
p {
  font-size: $body-font-size;
}