/**
* Fonts
**/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Merriweather+Sans:300);

$main-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Merriweather Sans', sans-serif;

/**
* Font Size
**/
$body-font-size: 16px;
$heading-font-size: $body-font-size * 2.4;
$sub-heading-font-size: $body-font-size * 1.6;
$sub-text-font-size: $body-font-size * 0.8;

/**
* Colors
**/
$main-color:#2294CC;
$light-color: #FFF;
$dark-color: #222;